.App {
  text-align: center;
}

* {
  font-family: 'Roboto', sans-serif;
 }

.MainContainer {
  background: linear-gradient(rgb(61, 47, 255), rgb(106, 0, 245, 0.5)), url('./assets/Honeycomb.png');
  background-size:cover;
  min-height:100%;
  position: absolute;
  z-index: -1;
  margin-top: -200px;
  padding-top: 200px;
  margin-left: -10px;
  margin-right: -10px;
}

.NavLogo {
  margin-top: 40px;
  margin-left: 50px;
}


